@model IEnumerable<GameStore.Models.GameViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



    <div>

        <div class="babl">

            <div class="hom-cl">

                @foreach (var item in Model)
                {

                    <div class="col-2 cartka">
                        <img src="@Html.DisplayFor(modelItem => item.GameIcon)" width="60px" >
                        <p>@Html.DisplayFor(modelItem => item.NameGames)</p>
                        <p class="p-cent">@Html.DisplayNameFor(model => model.Price)</p>
                        <input class="bt-infa" type="button" value="Info" src="">
                    </div>

                 }
            </div>

        </div>
    </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>